<div class="container mt-3">
  <h5>Listado de personajes filtrados de Dragon Ball</h5>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>KI</th>
        <th>Raza</th>
        <th>Género</th>
        <th>Afiliación</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of listadoPersonajes; let i = index">

        <td>{{ i + 1 }}</td>

        <!-- Miniatura con zoom -->
        <td>
          <img 
            [src]="p.image"
            [alt]="p.name"
            class="img-mini"
            style = "width: 50px; height: auto;">
        </td>

        <td>{{ p.name }}</td>
        <td>{{ p.ki ?? 'Desconocido' }}</td>
        <td>{{ p.race }}</td>
        <td>{{ p.gender }}</td>
        <td>{{ p.affiliation }}</td>

        <td>
          <button 
            class="btn btn-sm btn-warning me-2" 
            (click)="emitirEditar(p, i)">
            Editar
          </button>

          <button 
            class="btn btn-sm btn-danger" 
            (click)="emitirEliminar(i)">
            Eliminar
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>