/* ================================================= */
/* ===================== FOOTER ==================== */
/* ================================================= */

footer {
  background:
    linear-gradient(0deg, rgba(0,0,0,0.12), rgba(0,0,0,0.12)),
    url('/assets/bglightblue.png') repeat;
  color: rgba(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 20px;
}