/* Cabecera principal */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: rgba(255, 250, 250, 0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
  background: #2a5aa3 url('/assets/bgblue.png') repeat;
}

/* Contenedor de los textos */
.header-content {
  flex-grow: 1;
  text-align: center;
}

/* Imagen de perfil */
.header-profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin-left: auto;
}
